
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}